.l-header {
    grid-area: header;

    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    padding: 30px;
    background: var(--clr-bg-gradient);
}

.l-header__logo {
    max-width: 200px;
}