.l-sidenav {
    grid-area: sidenav;

    padding: 30px;
}

.l-sidenav__link {
    display: block;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(44, 44, 44, 0.15);
    margin: 0 auto 30px;
    background-color: white;
    min-width: 90px;
    max-width: 150px;

    transition: 100ms;
}

.l-sidenav__link:hover {
    background-color: var(--clr-purple-light);
}